@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0a0a0c;
  color: white;
  overflow-x: hidden;
  width: 100%;
}

/* Racing Border Animation */
@keyframes border-rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.animate-border-slow {
  animation: border-rotate 6s linear infinite;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

